{% from "macros.html.j2" import hello %}
<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="utf-8">
<title>Select2</title>
<meta name="viewport" content="width = device-width, initial-scale = 1">


<!-- CSS
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"/>

<!--
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-tagsinput.css') }}" /> -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />



<!-- JS

<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>



-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--

<script src="{{ url_for('static', filename='js/bootstrap-tagsinput.js') }}"></script>

-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>



<!--
<script src="{{ url_for('static', filename='js/jquery.select2.js') }}"></script>
 -->





<!-- classes

<style type = "text/css">

</style>

-->


<style>
    .select2-container{
        width: 300px;
    }
</style>


</head>


<body>
hejhopp


<form action="">
    <select name="states" id="states">
        <option value="AL">Alabama</option>
    	<option value="AK">Alaska</option>
    	<option value="AZ">Arizona</option>
    	<option value="AR">Arkansas</option>
    	<option value="CA">California</option>
    	<option value="CO">Colorado</option>
    	<option value="CT">Connecticut</option>
    	<option value="DE">Delaware</option>
    	<option value="DC">District Of Columbia</option>
    	<option value="FL">Florida</option>
    	<option value="GA">Georgia</option>
    	<option value="HI">Hawaii</option>
    	<option value="ID">Idaho</option>
    	<option value="IL">Illinois</option>
    	<option value="IN">Indiana</option>
    	<option value="IA">Iowa</option>
    	<option value="KS">Kansas</option>
    	<option value="KY">Kentucky</option>
    	<option value="LA">Louisiana</option>
    	<option value="ME">Maine</option>
    </select>
</form>


<hr />

<a href="#" id="country" data-type="select2" data-pk="1" data-value="ru" data-url="/post" data-title="Select country"></a>



<!--
    <div class="container">
        <div class="row page-header">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


            </div>
        </div>
    </div>


-->


    <script>
        $(document).ready(function() {

            $('#states').select2({});


            $('#country').editable({
                source: [
                      {id: 'gb', text: 'Great Britain'},
                      {id: 'us', text: 'United States'},
                      {id: 'ru', text: 'Russia'}
                   ],
                select2: {
                   multiple: true
                }
            });

        });
    </script>



</body>

















</html>
