{% extends "headertoinclude.html.j2" %}



{% block allrooms %}
	<div class ="container">

		<h2>Salar</h2>
<br />
		<table class="table table-hover col-lg-12 col-md-12 col-sm-12 col-xs-12">

	        <tbody>
	            <tr>
	                <th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Rumsnamn</th>
	                <th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Antal platser</th>
					<th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Rumstyp</th>
					<th class="text-left col-lg-9 col-md-9 col-sm-9 col-xs-9">Kostnad per timme</th>
	            </tr>
	            {% for item in roomsperroomtype(1) %}
		            <tr>
		                <td><a class="btn btn-primary btn-xs" href="{{ url_for('oneroom_page', roomid=item.id) }}" role="button">{{ item.name }}</a></td>
			            <td>{{ item.seats }}</td>
						<td>{{ roomtypeobjectfromid(1).roomtype }}</td>
						<td>{{ roomtypeobjectfromid(1).cost }}</td>
					</tr>
	            {% endfor %}
				{% for item in roomsperroomtype(2) %}
					<tr>
						<td><a class="btn btn-primary btn-xs" href="{{ url_for('oneroom_page', roomid=item.id) }}" role="button">{{ item.name }}</a></td>
						<td>{{ item.seats }}</td>
						<td>{{ roomtypeobjectfromid(2).roomtype }}</td>
						<td>{{ roomtypeobjectfromid(2).cost }}</td>
					</tr>
				{% endfor %}
				{% for item in roomsperroomtype(3) %}
					<tr>
						<td><a class="btn btn-primary btn-xs" href="{{ url_for('oneroom_page', roomid=item.id) }}" role="button">{{ item.name }}</a></td>
						<td>{{ item.seats }}</td>
						<td>{{ roomtypeobjectfromid(3).roomtype }}</td>
						<td>{{ roomtypeobjectfromid(3).cost }}</td>
					</tr>
				{% endfor %}
				{% for item in roomsperroomtype(4) %}
					<tr>
						<td><a class="btn btn-primary btn-xs" href="{{ url_for('oneroom_page', roomid=item.id) }}" role="button">{{ item.name }}</a></td>
						<td>{{ item.seats }}</td>
						<td>{{ roomtypeobjectfromid(4).roomtype }}</td>
						<td>{{ roomtypeobjectfromid(4).cost }}</td>
					</tr>
				{% endfor %}
				{% for item in roomsperroomtype(5) %}
					<tr>
						<td><a class="btn btn-primary btn-xs" href="{{ url_for('oneroom_page', roomid=item.id) }}" role="button">{{ item.name }}</a></td>
						<td>{{ item.seats }}</td>
						<td>{{ roomtypeobjectfromid(5).roomtype }}</td>
						<td>{{ roomtypeobjectfromid(5).cost }}</td>
					</tr>
				{% endfor %}
				{% for item in roomsperroomtype(6) %}
					<tr>
						<td><a class="btn btn-primary btn-xs" href="{{ url_for('oneroom_page', roomid=item.id) }}" role="button">{{ item.name }}</a></td>
						<td>{{ item.seats }}</td>
						<td>{{ roomtypeobjectfromid(6).roomtype }}</td>
						<td>{{ roomtypeobjectfromid(6).cost }}</td>
					</tr>
				{% endfor %}
	        </tbody>
	    </table>

	</div>
{% endblock %}
