{% extends "headertoinclude.html.j2" %}



{% block allteachers %}
	<div class ="container">

		<h4>Kurser</h4>

		<table class="table table-hover col-lg-12 col-md-12 col-sm-12 col-xs-12">

	        <tbody>
	            <tr>
	                <th class="text-left col-lg-3 col-md-3 col-sm-3 col-xs-3">Namn</th>
					<th class="text-left col-lg-4 col-md-4 col-sm-4 col-xs-4">Kursansvarig</th>
					<th class="text-left col-lg-5 col-md-5 col-sm-5 col-xs-5">Undervisar</th>
	            </tr>
	            {% for item in allteachers() %}
		            <tr>
			            <td>{{ item.akafirstname }} {{ item.akalastname }}</td>
						<td>{{ item.email }}</a></td>
						<td>
							{% for subitem in onescoursesresponsible(item.id): %}
		                        <button type="button" class="btn btn-success btn-xs">{{ subitem.code }}</button>
		                    {% endfor %}
						</td>
						<td>
							{% for subitem in onescoursesteaching(item.id): %}
		                        <button type="button" class="btn btn-success btn-xs">{{ subitem.code }}</button>
		                    {% endfor %}
						</td>
					</tr>
	            {% endfor %}
	        </tbody>
	    </table>

	</div>
{% endblock %}
