{% extends "headertoinclude.html.j2" %}



{% block allteachers %}
	<div class ="container">

		<h4>Kurser</h4>

		<table class="table table-hover col-lg-12 col-md-12 col-sm-12 col-xs-12">

	        <tbody>
	            <tr>
	                <th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Namn</th>
					<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
					<th class="text-left col-lg-3 col-md-3 col-sm-3 col-xs-3">Kursansvarig</th>
					<th class="text-left col-lg-6 col-md-6 col-sm-6 col-xs-6">Undervisar</th>
	            </tr>
	            {% for item in allteachers() %}
				{% if item.firstname %}
		            <tr>
			            <td>{{ item.akafirstname }}</td>
						<td>{{ item.akalastname }}</td>
						<td>
							{% for subitem in onescoursesresponsible(item.id): %}
		                        <button type="button" class="btn btn-success btn-xs">{{ subitem.code }}</button>
		                    {% endfor %}
						</td>
						<td>
							{% for subitem in onescoursesteaching(item.id): %}
		                        <button type="button" class="btn btn-success btn-xs">{{ subitem.code }}</button>
		                    {% endfor %}
						</td>
					</tr>
				{% endif %}
	            {% endfor %}
	        </tbody>
	    </table>

	</div>
{% endblock %}
