{% extends "headertoinclude.html.j2" %}



{% block allteachers %}
	<div class ="container">

		<h2>Lärare</h2>
<br />
		<table class="table table-hover col-lg-12 col-md-12 col-sm-12 col-xs-12">

	        <tbody>
	            <tr>
	                <th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Namn</th>
					<th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1"></th>
					<th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Initialer</th>
					<th class="text-left col-lg-4 col-md-4 col-sm-4 col-xs-4">Kursansvarig</th>
					<th class="text-left col-lg-5 col-md-5 col-sm-5 col-xs-5">Undervisar</th>
	            </tr>
	            {% for item in allteachers() %}
				{% if item.initials %}
		            <tr>
						{% if item.akafirstname %}
			            <td>{{ item.akafirstname }}</td>
						{% else %}
						<td>{{ item.firstname }}</td>
						{% endif %}
						{% if item.akalastname %}
						<td>{{ item.akalastname }}</td>
						{% else %}
						<td>{{ item.lastname }}</td>
						{% endif %}
						<td><a class="btn btn-success btn-xs" href="{{ url_for('oneteacher_page', teacherid=item.id) }}" role="button">{{ item.initials }}</a></td>
						<td>
							{% for subitem in onescoursesresponsible(item.id): %}
		                        <button type="button" class="btn btn-success btn-xs">{{ subitem.code }}</button>
		                    {% endfor %}
						</td>
						<td>
							{% for subitem in onescoursesteaching(item.id): %}
								<a class="btn btn-success btn-xs" href="{{ url_for('oneteacher_page', teacherid=subitem.id) }}" role="button">{{ subitem.code }}</a>
		                    {% endfor %}
						</td>
					</tr>
				{% endif %}
	            {% endfor %}
	        </tbody>
	    </table>

	</div>
{% endblock %}
