{% from "macros.html.j2" import hello %}
<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="utf-8">
<title>Resurshanteringssystem</title>
<meta name="viewport" content="width = device-width, initial-scale = 1">

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-tagsinput.css') }}" />

<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" /> -->


<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script src="{{ url_for('static', filename='js/bootstrap-tagsinput.js') }}"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.select2.js') }}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>



<style type = "text/css">
ul.nav li a, ul.nav li a:visited {
    color: #fff !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #fff !important;
}

ul.nav li.active a {
    color: #fff !important;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.list-inline br {
  content: "";
}
.list-inline br:after {
  content: ", ";
}


</style>

</head>


<body>


    <div class="container">
        <div class="row page-header">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                {% block rubrik %}
                {% endblock %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="pagination">
                    <li>
                        {% set courseidprev = courseid - 1 %}
                        {% set courseidnext = courseid + 1 %}

                        {% if courseid == 28 %}
                        {% set courseidnext = 7 %}
                        {% endif %}

                        {% if courseid == 7 %}
                        {% set courseidprev = 28 %}
                        {% endif %}


                        <a href="{{ url_for('index', page=courseidprev) }}">&laquo</a>
                    </li>
                    <li>
                        <a href="{{ url_for('index', page=courseidnext) }}">&raquo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <br />





    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="daterader">
                <ul class="list-unstyled">
                    <li style="height: 40px">
                        <h5 class="text-left">Datum</h5>
                    </li>

                    {% for item in scheduleInCourse(varrubrik) %}
                        {% set rowloop = loop %}

                        <li style="height: 40px">
                            {% if item[2] > 9 %}
                                {% if item[3] > 9 %}
                                <p class="text-left">{{ item[1] }}{{ item[2] }}{{ item[3] }}</p>
                                {% endif %}
                                {% if item[3] < 10 %}
                                <p class="text-left">{{ item[1] }}{{ item[2] }}0{{ item[3] }}</p>
                                {% endif %}
                            {% endif %}
                            {% if item[2] < 10 %}
                                {% if item[3] > 9 %}
                                <p class="text-left">{{ item[1] }}0{{ item[2] }}{{ item[3] }}</p>
                                {% endif %}
                                {% if item[3] < 10 %}
                                <p class="text-left">{{ item[1] }}0{{ item[2] }}0{{ item[3] }}</p>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="timerader">
                <ul class="list-unstyled">
                    <li style="height: 40px">
                        <h5 class="text-left">Tid</h5>
                    </li>
                    {% for item in scheduleInCourse(varrubrik) %}
                        {% set rowloop = loop %}

                        <li style="height: 40px">
                            {% if item[4] > 9 %}
                            <p class="text-left">kl.{{ item[4] }}-{{ item[5] }}</p>
                            {% endif %}
                            {% if item[4] < 10 %}
                            <p class="text-left">kl.0{{ item[4] }}-{{ item[5] }}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" id="dragcon">
                <ul class="list-unstyled">
                    <li style="height: 40px">
                        <h5 class="text-left">Innehåll</h5>
                    </li>
                    {% for item in scheduleInCourse(varrubrik) %}
                        {% set rowloop = loop %}

                        <li style="height: 40px">
                            <a href="#" class="text-left" style="overflow: hidden; text-overflow: ellipsis" id="content{{ rowloop.index }}" data-pk="{{ item[7] }}" data-url="/user_edit_content/{{ rowloop.index }}" data-title="Enter username">{{ item[6] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="roomsrader">
                <ul class="list-unstyled">
                    <li style="height: 40px">
                        <h5 class="text-left">Sal</h5>
                    </li>
                    {% for item in scheduleInCourse(varrubrik) %}
                        {% set rowloop = loop %}

                        <li style="height: 40px">
                            {% for subitem in roomsOnDate(item[0], varrubrik): %}
                                <button type="button" class="btn btn-success btn-xs" id="room{{ rowloop.index }}{{ loop.index }}b">{{ subitem[0] }}</button>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>




            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="teacherrader">
                <ul class="list-unstyled">
                    <li style="height: 40px">
                        <h5 class="text-left">Lärare</h5>
                    </li>
                    {% for item in scheduleInCourse(varrubrik) %}
                        {% set rowloop = loop %}

                        <ul class="list-unstyled list-inline" id="Tearow{{ loop.index0 }}" style="height: 40px">

                            {% for subitem in defteachersondate(item[0], varrubrik): %}
                                <li data-x="dest_{{ rowloop.index }}{{ loop.index0 }}" id="dest_{{ rowloop.index }}{{ loop.index0 }}">

                                <a href="#" class="text-left" id="selectteacher{{ rowloop.index }}{{ loop.index0 }}" data-pk="{{ item[7] }}" data-url="/user_edit_teacher/{{ rowloop.index }}{{ loop.index0 }}" data-title="Enter username" data-value="{{ subitem[2] }}">{{ subitem[2] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <h4>Kursinformation
                </h4>
                {% block kursinfo %}
                {% endblock %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h4>
                    <a href="#col2Content" data-toggle="collapse">Lärare
                    </a>
                </h4>
                <div id="col2Content" class="collapse">
                    {% block teachersincourses %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h4>Salar
                </h4>
                {% block toproomsincourses %}
                {% endblock %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <h4>Fördelning
                </h4>
                {% block chart1 %}
                {% endblock %}
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h4>Bemanning
                </h4>
                {% block teachersincoursesnumbers %}
                {% endblock %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <h4>Fördelning
                </h4>
                {% block chart2 %}
                {% endblock %}
            </div>
        </div>
    </div>





    <script type="text/javascript">



        $(document).ready(function() {
            $.fn.editable.defaults.mode = 'inline';

            $(function  () {
                $("ol").sortable();
                $("#dragcon ul").sortable();
            });

            $('[id^=content]').editable({
                title: 'Select Course'
            });

            var vartech = '[{% for item in teachersInCourse(varrubrik) %}{value: {{ loop.index }}, text: \"{{ item[2] }}\"}{% if not loop.last %}, {% endif %}{% endfor %}]';

            $('[id^=Tearow]').editable({  //to keep track of selected values in multi select
                type: 'checklist',
                mode: 'popup',
                placement: 'right',
                title: 'Select teachers',
                source: vartech
            });

        });
    </script>



</body>

















</html>
