{% extends "headertoinclude.html.j2" %}



{% block courses %}
	<div class ="container">

		<h4>Kurser</h4>
		<p>
			Examiner
		</p>
		<table class="table table-hover col-lg-12 col-md-12 col-sm-12 col-xs-12">

	        <tbody>
	            <tr>
	                <th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Kurskod</th>
	                <th class="text-left col-lg-5 col-md-5 col-sm-5 col-xs-5">Namn</th>
	                <th class="text-left col-lg-3 col-md-3 col-sm-3 col-xs-3">Examinator</th>
					<th class="text-left col-lg-3 col-md-3 col-sm-3 col-xs-3">Kursansvarig</th>
	            </tr>
	            {% for item in mycoursesexaminer() %}
		            <tr>
		                <td>{{ item.code }}</td>
			            <td>{{ item.name }}</td>
						<td>{{ item.examiner.email }}</a></td>
						<td><a href="#" id="courseexaminer{{ item.id }}" data-type="select" data-pk="{{ item.id }}" data-url="/user_edit_course/responsible" data-title="Enter username" data-value="{{ item.responsible.email }}">{{ item.responsible.email }}</a></td>
		            </tr>
	            {% endfor %}
	        </tbody>
	    </table>

		<p>
			Responsible
		</p>
		<table class="table table-hover col-lg-12 col-md-12 col-sm-12 col-xs-12">

	        <tbody>
	            <tr>
	                <th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Kurskod</th>
	                <th class="text-left col-lg-5 col-md-5 col-sm-5 col-xs-5">Namn</th>
	                <th class="text-left col-lg-3 col-md-3 col-sm-3 col-xs-3">Examinator</th>
					<th class="text-left col-lg-3 col-md-3 col-sm-3 col-xs-3">Kursansvarig</th>
	            </tr>
	            {% for item in mycoursesresponsible() %}
		            <tr>
		                <td>{{ item.code }}</td>
			            <td>{{ item.name }}</td>
						<td>{{ item.examiner.email }}</a></td>
						{% if amiexaminer(item.code) %}
						<td><a href="#" id="courseresponsibe{{ item.id }}" data-type="select" data-pk="{{ item.id }}" data-url="/user_edit_course/responsible" data-title="Enter username" data-value="{{ item.responsible.email }}">{{ item.responsible.email }}</a></td>
						{% else %}
						<td>{{ item.responsible.email }}</a></td>
						{% endif %}
					</tr>
	            {% endfor %}
	        </tbody>
	    </table>
	</div>
{% endblock %}
