{% extends "headertoinclude.html.j2" %}



{% block courses %}
	<div class ="container">


		<div class="jumbotron">


			<h4>Kurser</h4>


			<nav aria-label="...">
  <ul class="pager">
    <li><a href="{{ url_for('rooms_page', page=page-1) }}">Previous</a></li>
    <li><a href="{{ url_for('rooms_page', page=page+1) }}">Next</a></li>
  </ul>
</nav>
		    <table class="table table-hover" id="testtable">
		        <tbody id="tbodyid">
		            <tr>
		                <th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Kurskod</th>
		                <th class="text-left col-lg-6 col-md-6 col-sm-6 col-xs-6">Namn</th>
		                <th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Examinator</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Kursansvarig</th>
		            </tr>
		            {% for item in allcourses(): %}
			            <tr>
			                <td>{{ item.code }}</td>
			                <td><a href="#" class="text-left" style="overflow: hidden; text-overflow: ellipsis" id="coursename{{ item.id }}" data-pk="{{ item.id }}" data-url="/user_edit_course/{{ item.id }}" data-title="Enter username">{{ item.name }}</a></td>
							<td></td>
							<td></td>
			            </tr>
		            {% endfor %}
		        </tbody>
		    </table>





















  		{% with messages = get_flashed_messages() %}
  			{% if messages %}
  				{% for message in messages %}
  					<div class="alert alert-warning alert-dismissible" role="alert">
  						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  						{{message}}
  					</div>
  				{% endfor %}
  			{% endif %}
  		{% endwith %}
        </div>
		<!--{% with messages = get_flashed_messages() %}
  			{% if messages %}
				{% for message in messages %}
	  				<div class="alert alert-warning alert-dismissible" role="alert">
	  					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						{{message}}
	  				</div>
				{% endfor %}
  			{% endif %}
		{% endwith %}-->




	</div>

{% endblock %}
