<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="utf-8">
<title>Resurshanteringssystem</title>
<meta name="viewport" content="width = device-width, initial-scale = 1">



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>



<style>
.form-horizontal .control-label{
  text-align:left;
}

.some_class{
   width: 300px !important;
}

</style>

</head>


<body>






	<div class="container">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
			<ul class="nav navbar-nav">
		        <!--<li><a href="{{ url_for('login_page') }}">Start</a></li>-->
				{% if session.logged_in %}
                <li><a href="{{ url_for('allteachers_page')}}">Lärare</a></li>
                <li><a href="{{ url_for('allrooms_page')}}">Salar</a></li>
                <li><a href="{{ url_for('allcourses_page')}}">Kurser</a></li>
                <li><a href="{{ url_for('courses_page')}}">Mina utbildningsuppdrag</a></li>
                <li><a href="{{ url_for('myteaching_page')}}">Min undervisning</a></li>
                <li><a href="{{ url_for('myinfo_page')}}">Mina uppgifter</a></li>
				{% endif %}
			</ul>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <div class="nav navbar-nav navbar-right">
			  	{% if session.logged_in %}
					<a class="btn btn-default navbar-btn" href="{{ url_for('logout') }}">Logga ut</a>
					<!--<button type="submit" class="btn btn-default navbar-btn">Sign out</button>-->
			  	{% else %}
					{%- if request.path != "/register/" %}
						<a class="btn btn-default navbar-btn" href="{{ url_for('register_page') }}">Registrering</a>
						{% endif %}
					{% block login %}{% endblock %}

					<!--<a class="btn btn-default navbar-btn" href="{{ url_for('login_page') }}">Sign in</a>
					<button type="submit" class="btn btn-default navbar-btn">Sign in</button>-->
			    {% endif %}
		  	  </div>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>




        <!-- Modal -->
        <div class="modal fade" id="edit-slot-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit class</h4>
              </div>

              <form class="form-horizontal" id="myForm" role="form">

                <input type="text" id="entityKey" name="entity_key" class="hidden">
                <div class="modal-body">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Content</label>
                    <div class="col-sm-10">
                      <input type="text" name="content" id="content" class="form-control show">
                    </div>
                  </div>


                    <div class="form-group">
                      <label class="col-sm-2 ">About the class</label>
                      <div class="col-sm-10">
                          <textarea class="form-control" name="info" id="info" rows="1"></textarea>
                      </div>
                    </div>


                    <!--
                    <div class="form-group">
                      <label class="col-sm-2 ">Teachers</label>
                      <div class="col-sm-10">
                          <select class="js-example-tags-teachers form-control select2-hidden-accessible" id="tags" multiple="multiple" name="tags" tabindex="-1" aria-hidden="true"></select>
                      </div>
                    </div>
                -->




                </div>




                <div class="modal-footer">
                <button type="button" id="errorAlert" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" onclick="saveData()" id="successAlert" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div> <!-- /container -->



		{% if session.logged_in %}
			<p>
				{% block rooms %}
				{% endblock %}
                {% block teachers %}
				{% endblock %}
                {% block onecourse %}
                {% endblock %}
                {% block oneroom %}
                {% endblock %}
                {% block oneteacher %}
                {% endblock %}
                {% block oneslot %}
                {% endblock %}
                {% block allrooms %}
                {% endblock %}
                {% block allcourses %}
                {% endblock %}
                {% block allteachers %}
                {% endblock %}
                {% block courses %}

                {% set me = myobject() %}

                {% endblock %}

			</p>
		{% else %}
			{% block register %}
            <div class="container">
                <div class="jumbotron">
                TEXT FÖR UTLOGGAD OM EJ REGISTRERING
                </div>
            </div>

			{% endblock %}

		{% endif %}

<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</div>



    <!--
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="{{ url_for('static', filename='js/bootstrap-tagsinput.js') }}"></script>-->

    <!--TA INTE MED
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.select2.js') }}"></script>-->

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->

    <!--<script src="../../dist/js/bootstrap.min.js"></script>
     IE10 viewport hack for Surface/desktop Windows 8 bug
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->


    <script type="text/javascript">
        $(document).ready(function() {
            //$('select').select2();

            function saveData(){
                $.ajax({
                    data: {
                    info: $('#info').val(),
                    content: $('#content').val(),
                    entityKey: $('#entityKey'),val()
                    },
                    type : 'POST',
                    url : '/editslot',
                    success: function(msg) {
                        alert('Success!!');
                    }
                });


            });


            

            //$.fn.editable.defaults.mode = 'inline';
            //$('select').select2();

            //var tempvar = {{ mycourseslist() }}



            //$(".js-example-data-array").select2( {
                //data:[{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }, { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }, { id: 4, text: 'wontfix' }]
            //    data:tempvar
            //} );

            $('#meinitials').editable({
                title: 'Select C',
                inputclass: 'some_class'
            });
            $('#meakafirstname').editable({
                title: 'Select C',
                inputclass: 'some_class'
            });
            $('#meakalastname').editable({
                title: 'Select C',
                inputclass: 'some_class'
            });
            /*
            $('[id^=courseresponsibe]').editable({
                value: 2,
                //source: [{ value: 0, text: 'enhancement' }, { value: 1, text: 'bug' }, { value: 2, text: 'duplicate' }, { value: 3, text: 'invalid' }, { value: 4, text: 'wontfix' }]
                //inputclass: 'some_class'
                source: tempvar,
                display: function(response) {
                    //render response into element
                    $(this).html(response);
                }
            });

            $('[id^=courseexaminer]').editable({
                value: 2,
                //source: [{ value: 0, text: 'enhancement' }, { value: 1, text: 'bug' }, { value: 2, text: 'duplicate' }, { value: 3, text: 'invalid' }, { value: 4, text: 'wontfix' }]
                //inputclass: 'some_class'
                source: tempvar,
                display: function(response) {
                    //render response into element
                    $(this).html(response);
                }
            });
            */

            $('[id^=content]').editable({
                title: 'Select Course',
                inputclass: 'some_class'
            });



            $('[id^=subject]').editable({
                value: [2, 3],
                source: [
                    {value: 1, text: 'option1'},
                    {value: 2, text: 'option2'},
                    {value: 3, text: 'option3'}
                ]
            });




            //$(function  () {
                //$("tbody").sortable();
            //});







        	$( ":checkbox" ).on( "click", function() {
        		$( this ).parent().nextAll( "select" ).prop( "disabled", !this.checked );
        	});



            var roomsdata = {{ roomslistjson() }}
            var teacherssdata = {{ teacherslistjson() }}
            var tempdata = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }, { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }, { id: 4, text: 'wontfix' }];

            $(".js-example-data-array").select2({
                tags: true,
                data: tempdata
            });

            $(".js-example-data-array-selected").select2({
                tags: true,
                data: tempdata
            });

            $(".js-example-tags-teachers").select2({
                tags: true,
                data: tempdata
            });

            $(".js-example-tags-rooms").select2({
                tags: true,
                data: roomsdata
            });


        });
    </script>


  </body>


</html>
