<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="utf-8">
<title>Resurshanteringssystem</title>
<meta name="viewport" content="width = device-width, initial-scale = 1">



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>


<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<link href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<link href="//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.js"></script>






<style>
td.details-control {
    background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/details_close.png') no-repeat center center;
}

.form-horizontal .control-label{
  text-align:left;
}

.some_class{
   width: 300px !important;
}

</style>

</head>


<body>






	<div class="container">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
			<ul class="nav navbar-nav">
		        <!--<li><a href="{{ url_for('login_page') }}">Start</a></li>-->
				{% if session.logged_in %}
                <li><a href="{{ url_for('allteachers_page')}}">Lärare</a></li>
                <li><a href="{{ url_for('allrooms_page')}}">Salar</a></li>
                <li><a href="{{ url_for('allcourses_page')}}">Kurser</a></li>
                <li><a href="{{ url_for('courses_page')}}">Mina utbildningsuppdrag</a></li>
                <li><a href="{{ url_for('myteaching_page')}}">Min undervisning</a></li>
                <li><a href="{{ url_for('myinfo_page')}}">Mina uppgifter</a></li>
				{% endif %}
			</ul>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <div class="nav navbar-nav navbar-right">
			  	{% if session.logged_in %}
					<a class="btn btn-default navbar-btn" href="{{ url_for('logout') }}">Logga ut</a>
					<!--<button type="submit" class="btn btn-default navbar-btn">Sign out</button>-->
			  	{% else %}
					{%- if request.path != "/register/" %}
						<a class="btn btn-default navbar-btn" href="{{ url_for('register_page') }}">Registrering</a>
						{% endif %}
					{% block login %}{% endblock %}

					<!--<a class="btn btn-default navbar-btn" href="{{ url_for('login_page') }}">Sign in</a>
					<button type="submit" class="btn btn-default navbar-btn">Sign in</button>-->
			    {% endif %}
		  	  </div>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>




        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalTitle"></h4>
              </div>
              <div class="modal-body">


                <form class="form-horizontal">

                    <div class="form-group">
                      <label for="exampleInputEmail1" class="col-sm-2 control-label">Title</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="myModalContent" id="myModalContent" placeholder="Content...">
                      </div>
                    </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Content</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" rows="3" name="myModalInfo" id="myModalInfo" placeholder="Info..."></textarea>
                    </div>
                  </div>


                  <div class="form-group">
                      <label for="exampleInputEmail1" class="col-sm-2 control-label">Track</label>
                      <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Track 1
                            </label>
                            </div>

                          <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Track 2
                              </label>
                              </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" value="">
                                  Track 3
                                </label>
                                </div>
                              <div class="checkbox">
                                  <label>
                                    <input type="checkbox" value="">
                                    Track 4
                                  </label>
                                  </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value="">
                                      Track 5
                                    </label>
                                    </div>
                                </div>
                                </div>





                  <div class="form-group">
                      <label for="exampleInputEmail1" class="col-sm-2 control-label">Teachers</label>
                     <div class="col-sm-10">
                        <select class="form-control js-example-data-array-selected" id="myModalTeachers" name="myModalTeachers" multiple="multiple">
                        </select>
                         </div>
                  </div>



                  <div class="form-group">
                      <label for="exampleInputEmail1" class="col-sm-2 control-label">Select</label>
                     <div class="col-sm-10">
                        <select multiple class="form-control js-example-data-array">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                  </div>


                  <div class="form-group">
                      <label for="exampleInputEmail1" class="col-sm-2 control-label">Select</label>
                     <div class="col-sm-10">
                        <select class="form-control js-example-data-array-test" id="myModalOptions" name="myModalOptions" multiple="multiple">
                        </select>
                         </div>
                  </div>



                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Radiobuttons</label>
                    <div class="col-sm-10">
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            Option one is this and that&mdash;be sure to include why it's great
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Option two can be something else and selecting it will deselect option one
                          </label>
                        </div>
                        <div class="radio disabled">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                            Option three is disabled
                          </label>
                      </div>
                     </div>
                 </div>













                <div class="alert hidden" role="alert" id="modalAlert"></div>
                <input type="hidden" id="myModalID" name="myModalID" value="" />
                <p>Modal example.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="myModalButton">Submit</button>
              </div>
          </form>




            </div>
          </div>
        </div>
    </div>





    </div> <!-- /container -->



		{% if session.logged_in %}
			<p>
				{% block rooms %}
				{% endblock %}
                {% block teachers %}
				{% endblock %}
                {% block onecourse %}
                {% endblock %}
                {% block oneroom %}
                {% endblock %}
                {% block oneteacher %}
                {% endblock %}
                {% block oneslot %}
                {% endblock %}
                {% block allrooms %}
                {% endblock %}
                {% block allcourses %}
                {% endblock %}
                {% block allteachers %}
                {% endblock %}
                {% block courses %}

                {% set me = myobject() %}

                {% endblock %}

			</p>
		{% else %}
			{% block register %}
            <div class="container">
                <div class="jumbotron">
                TEXT FÖR UTLOGGAD OM EJ REGISTRERING
                </div>
            </div>

			{% endblock %}

		{% endif %}

<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</div>



    <!--
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="{{ url_for('static', filename='js/bootstrap-tagsinput.js') }}"></script>-->

    <!--TA INTE MED
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.select2.js') }}"></script>-->

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->

    <!--<script src="../../dist/js/bootstrap.min.js"></script>
     IE10 viewport hack for Surface/desktop Windows 8 bug
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->


    <script type="text/javascript">

        function format ( d ) {
            // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                    '<td>Full name:</td>'+
                    '<td>'+d.name+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Extension number:</td>'+
                    '<td>'+d.extn+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Extra info:</td>'+
                    '<td>And any further details here (images etc)...</td>'+
                '</tr>'+
            '</table>';
            }
        $(document).ready(function() {
            $('#exampletable').DataTable();
            $('select').select2();

            var table = $('#example').DataTable( {
                "ajax": {
  "data": [
    {
      "name": "Tiger Nixon",
      "position": "System Architect",
      "salary": "$320,800",
      "start_date": "2011/04/25",
      "office": "Edinburgh",
      "extn": "5421"
    },
    {
      "name": "Garrett Winters",
      "position": "Accountant",
      "salary": "$170,750",
      "start_date": "2011/07/25",
      "office": "Tokyo",
      "extn": "8422"
    },
    {
      "name": "Ashton Cox",
      "position": "Junior Technical Author",
      "salary": "$86,000",
      "start_date": "2009/01/12",
      "office": "San Francisco",
      "extn": "1562"
    },
    {
      "name": "Cedric Kelly",
      "position": "Senior Javascript Developer",
      "salary": "$433,060",
      "start_date": "2012/03/29",
      "office": "Edinburgh",
      "extn": "6224"
    },
    {
      "name": "Airi Satou",
      "position": "Accountant",
      "salary": "$162,700",
      "start_date": "2008/11/28",
      "office": "Tokyo",
      "extn": "5407"
    },
    {
      "name": "Brielle Williamson",
      "position": "Integration Specialist",
      "salary": "$372,000",
      "start_date": "2012/12/02",
      "office": "New York",
      "extn": "4804"
    },
    {
      "name": "Herrod Chandler",
      "position": "Sales Assistant",
      "salary": "$137,500",
      "start_date": "2012/08/06",
      "office": "San Francisco",
      "extn": "9608"
    },
    {
      "name": "Rhona Davidson",
      "position": "Integration Specialist",
      "salary": "$327,900",
      "start_date": "2010/10/14",
      "office": "Tokyo",
      "extn": "6200"
    },
    {
      "name": "Colleen Hurst",
      "position": "Javascript Developer",
      "salary": "$205,500",
      "start_date": "2009/09/15",
      "office": "San Francisco",
      "extn": "2360"
    },
    {
      "name": "Sonya Frost",
      "position": "Software Engineer",
      "salary": "$103,600",
      "start_date": "2008/12/13",
      "office": "Edinburgh",
      "extn": "1667"
    },
    {
      "name": "Jena Gaines",
      "position": "Office Manager",
      "salary": "$90,560",
      "start_date": "2008/12/19",
      "office": "London",
      "extn": "3814"
    },
    {
      "name": "Quinn Flynn",
      "position": "Support Lead",
      "salary": "$342,000",
      "start_date": "2013/03/03",
      "office": "Edinburgh",
      "extn": "9497"
    },
    {
      "name": "Charde Marshall",
      "position": "Regional Director",
      "salary": "$470,600",
      "start_date": "2008/10/16",
      "office": "San Francisco",
      "extn": "6741"
    },
    {
      "name": "Haley Kennedy",
      "position": "Senior Marketing Designer",
      "salary": "$313,500",
      "start_date": "2012/12/18",
      "office": "London",
      "extn": "3597"
    },
    {
      "name": "Tatyana Fitzpatrick",
      "position": "Regional Director",
      "salary": "$385,750",
      "start_date": "2010/03/17",
      "office": "London",
      "extn": "1965"
    },
    {
      "name": "Michael Silva",
      "position": "Marketing Designer",
      "salary": "$198,500",
      "start_date": "2012/11/27",
      "office": "London",
      "extn": "1581"
    },
    {
      "name": "Paul Byrd",
      "position": "Chief Financial Officer (CFO)",
      "salary": "$725,000",
      "start_date": "2010/06/09",
      "office": "New York",
      "extn": "3059"
    },
    {
      "name": "Gloria Little",
      "position": "Systems Administrator",
      "salary": "$237,500",
      "start_date": "2009/04/10",
      "office": "New York",
      "extn": "1721"
    },
    {
      "name": "Bradley Greer",
      "position": "Software Engineer",
      "salary": "$132,000",
      "start_date": "2012/10/13",
      "office": "London",
      "extn": "2558"
    },
    {
      "name": "Dai Rios",
      "position": "Personnel Lead",
      "salary": "$217,500",
      "start_date": "2012/09/26",
      "office": "Edinburgh",
      "extn": "2290"
    },
    {
      "name": "Jenette Caldwell",
      "position": "Development Lead",
      "salary": "$345,000",
      "start_date": "2011/09/03",
      "office": "New York",
      "extn": "1937"
    },
    {
      "name": "Yuri Berry",
      "position": "Chief Marketing Officer (CMO)",
      "salary": "$675,000",
      "start_date": "2009/06/25",
      "office": "New York",
      "extn": "6154"
    },
    {
      "name": "Caesar Vance",
      "position": "Pre-Sales Support",
      "salary": "$106,450",
      "start_date": "2011/12/12",
      "office": "New York",
      "extn": "8330"
    },
    {
      "name": "Doris Wilder",
      "position": "Sales Assistant",
      "salary": "$85,600",
      "start_date": "2010/09/20",
      "office": "Sidney",
      "extn": "3023"
    },
    {
      "name": "Angelica Ramos",
      "position": "Chief Executive Officer (CEO)",
      "salary": "$1,200,000",
      "start_date": "2009/10/09",
      "office": "London",
      "extn": "5797"
    },
    {
      "name": "Gavin Joyce",
      "position": "Developer",
      "salary": "$92,575",
      "start_date": "2010/12/22",
      "office": "Edinburgh",
      "extn": "8822"
    },
    {
      "name": "Jennifer Chang",
      "position": "Regional Director",
      "salary": "$357,650",
      "start_date": "2010/11/14",
      "office": "Singapore",
      "extn": "9239"
    },
    {
      "name": "Brenden Wagner",
      "position": "Software Engineer",
      "salary": "$206,850",
      "start_date": "2011/06/07",
      "office": "San Francisco",
      "extn": "1314"
    },
    {
      "name": "Fiona Green",
      "position": "Chief Operating Officer (COO)",
      "salary": "$850,000",
      "start_date": "2010/03/11",
      "office": "San Francisco",
      "extn": "2947"
    },
    {
      "name": "Shou Itou",
      "position": "Regional Marketing",
      "salary": "$163,000",
      "start_date": "2011/08/14",
      "office": "Tokyo",
      "extn": "8899"
    },
    {
      "name": "Michelle House",
      "position": "Integration Specialist",
      "salary": "$95,400",
      "start_date": "2011/06/02",
      "office": "Sidney",
      "extn": "2769"
    },
    {
      "name": "Suki Burks",
      "position": "Developer",
      "salary": "$114,500",
      "start_date": "2009/10/22",
      "office": "London",
      "extn": "6832"
    },
    {
      "name": "Prescott Bartlett",
      "position": "Technical Author",
      "salary": "$145,000",
      "start_date": "2011/05/07",
      "office": "London",
      "extn": "3606"
    },
    {
      "name": "Gavin Cortez",
      "position": "Team Leader",
      "salary": "$235,500",
      "start_date": "2008/10/26",
      "office": "San Francisco",
      "extn": "2860"
    },
    {
      "name": "Martena Mccray",
      "position": "Post-Sales support",
      "salary": "$324,050",
      "start_date": "2011/03/09",
      "office": "Edinburgh",
      "extn": "8240"
    },
    {
      "name": "Unity Butler",
      "position": "Marketing Designer",
      "salary": "$85,675",
      "start_date": "2009/12/09",
      "office": "San Francisco",
      "extn": "5384"
    },
    {
      "name": "Howard Hatfield",
      "position": "Office Manager",
      "salary": "$164,500",
      "start_date": "2008/12/16",
      "office": "San Francisco",
      "extn": "7031"
    },
    {
      "name": "Hope Fuentes",
      "position": "Secretary",
      "salary": "$109,850",
      "start_date": "2010/02/12",
      "office": "San Francisco",
      "extn": "6318"
    },
    {
      "name": "Vivian Harrell",
      "position": "Financial Controller",
      "salary": "$452,500",
      "start_date": "2009/02/14",
      "office": "San Francisco",
      "extn": "9422"
    },
    {
      "name": "Timothy Mooney",
      "position": "Office Manager",
      "salary": "$136,200",
      "start_date": "2008/12/11",
      "office": "London",
      "extn": "7580"
    },
    {
      "name": "Jackson Bradshaw",
      "position": "Director",
      "salary": "$645,750",
      "start_date": "2008/09/26",
      "office": "New York",
      "extn": "1042"
    },
    {
      "name": "Olivia Liang",
      "position": "Support Engineer",
      "salary": "$234,500",
      "start_date": "2011/02/03",
      "office": "Singapore",
      "extn": "2120"
    },
    {
      "name": "Bruno Nash",
      "position": "Software Engineer",
      "salary": "$163,500",
      "start_date": "2011/05/03",
      "office": "London",
      "extn": "6222"
    },
    {
      "name": "Sakura Yamamoto",
      "position": "Support Engineer",
      "salary": "$139,575",
      "start_date": "2009/08/19",
      "office": "Tokyo",
      "extn": "9383"
    },
    {
      "name": "Thor Walton",
      "position": "Developer",
      "salary": "$98,540",
      "start_date": "2013/08/11",
      "office": "New York",
      "extn": "8327"
    },
    {
      "name": "Finn Camacho",
      "position": "Support Engineer",
      "salary": "$87,500",
      "start_date": "2009/07/07",
      "office": "San Francisco",
      "extn": "2927"
    },
    {
      "name": "Serge Baldwin",
      "position": "Data Coordinator",
      "salary": "$138,575",
      "start_date": "2012/04/09",
      "office": "Singapore",
      "extn": "8352"
    },
    {
      "name": "Zenaida Frank",
      "position": "Software Engineer",
      "salary": "$125,250",
      "start_date": "2010/01/04",
      "office": "New York",
      "extn": "7439"
    },
    {
      "name": "Zorita Serrano",
      "position": "Software Engineer",
      "salary": "$115,000",
      "start_date": "2012/06/01",
      "office": "San Francisco",
      "extn": "4389"
    },
    {
      "name": "Jennifer Acosta",
      "position": "Junior Javascript Developer",
      "salary": "$75,650",
      "start_date": "2013/02/01",
      "office": "Edinburgh",
      "extn": "3431"
    },
    {
      "name": "Cara Stevens",
      "position": "Sales Assistant",
      "salary": "$145,600",
      "start_date": "2011/12/06",
      "office": "New York",
      "extn": "3990"
    },
    {
      "name": "Hermione Butler",
      "position": "Regional Director",
      "salary": "$356,250",
      "start_date": "2011/03/21",
      "office": "London",
      "extn": "1016"
    },
    {
      "name": "Lael Greer",
      "position": "Systems Administrator",
      "salary": "$103,500",
      "start_date": "2009/02/27",
      "office": "London",
      "extn": "6733"
    },
    {
      "name": "Jonas Alexander",
      "position": "Developer",
      "salary": "$86,500",
      "start_date": "2010/07/14",
      "office": "San Francisco",
      "extn": "8196"
    },
    {
      "name": "Shad Decker",
      "position": "Regional Director",
      "salary": "$183,000",
      "start_date": "2008/11/13",
      "office": "Edinburgh",
      "extn": "6373"
    },
    {
      "name": "Michael Bruce",
      "position": "Javascript Developer",
      "salary": "$183,000",
      "start_date": "2011/06/27",
      "office": "Singapore",
      "extn": "5384"
    },
    {
      "name": "Donna Snider",
      "position": "Customer Support",
      "salary": "$112,000",
      "start_date": "2011/01/25",
      "office": "New York",
      "extn": "4226"
    }
  ]
},
                "columns": [
                    {
                        "className":      'details-control',
                        "orderable":      false,
                        "data":           null,
                        "defaultContent": ''
                    },
                    { "data": "name" },
                    { "data": "position" },
                    { "data": "office" },
                    { "data": "salary" }
                ],
                "order": [[1, 'asc']]
            } );

            // Add event listener for opening and closing details
            $('#exampletable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child( format(row.data()) ).show();
                    tr.addClass('shown');
                }
            } );



            $(".openModalLink").click(function(e) {
                  e.preventDefault();
                  //$("#myModalTitle").html('Hello, my name is '+$(this).data('name')+'!');
                  $("#myModalTitle").html('Edit class');
                  $("#myModalID").val($(this).data('id'));
                  $("#myModalInfo").val($(this).data('info'));
                  $("#myModalContent").val($(this).data('content'));
                  var myVariable = $(this).data('teachers');

                  var listItems = '';

                  //alert(myVariable);
                  //alert("HEJ");

                  $.each(myVariable, function (index, value) {
                      //alert(value.selected)
                      if (value.selected > 0) {
                      listItems += "<option value='" + value.id + "' selected>" + value.text + "</option>";
                  } else {
                      listItems += "<option value='" + value.id + "'>" + value.text + "</option>";
                  }
                    });


                  $("#myModalTeachers").html(listItems);


                  $('#myModal').modal('show');
                  //var infovar = $(this).find("#myModalInfo").html();


              });

              $("#myModalButton").click(function(){
                  //alert($('form').serialize());

                  $.ajax({
                         url: '/editslot',
                         data: $('form').serialize(),

                         /*
                         data: {
                             info: $("#myModalInfo").val(),
                             content: $("#myModalContent").val(),
                           entityKey: $("#myModalID").val()
                         },
                         */
                         type : 'POST',
                         success: function(data)
                         {
                            //alert("Selected value is: "+$("#myModalOptions").select2("val"));
                            //alert($('#myModalOptions').serializeArray());
                            $('#myModal').modal('hide');
                            window.location.reload(true);


                         }
                   });
              });






/*


            function saveData(){
                $.ajax({
                    data: {
                    info: $('#info').val(),
                    content: $('#content').val(),
                    entityKey: $('#entityKey'),val()
                    },
                    type : 'POST',
                    url : '/editslot',
                    success: function(msg) {
                        alert('Success!!');
                    }
                });


            });


            $(".edit-slots").click( function() {
                $("#edit-slot-modal .modal-title").html("Edit content for slot");
                $("#edit-slot-modal button[type=submit]").html("Saving");

                contentvar = $(this).find(".content").html();
                entityKey = $(this).find(".entity-key").html();

                $("#edit-slot-modal input[name=content]").val(contentvar);
                $("#edit-slot-modal input[name=entity_key]").val(entityKey);
            });


*/

            //$.fn.editable.defaults.mode = 'inline';
            //$('select').select2();

            //var tempvar = {{ mycourseslist() }}



            //$(".js-example-data-array").select2( {
                //data:[{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug', selected: true }, { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid', selected: true }, { id: 4, text: 'wontfix' }]
            //    data:tempvar
            //} );

            $('#meinitials').editable({
                title: 'Select C',
                inputclass: 'some_class'
            });
            $('#meakafirstname').editable({
                title: 'Select C',
                inputclass: 'some_class'
            });
            $('#meakalastname').editable({
                title: 'Select C',
                inputclass: 'some_class'
            });
            /*
            $('[id^=courseresponsibe]').editable({
                value: 2,
                //source: [{ value: 0, text: 'enhancement' }, { value: 1, text: 'bug' }, { value: 2, text: 'duplicate' }, { value: 3, text: 'invalid' }, { value: 4, text: 'wontfix' }]
                //inputclass: 'some_class'
                source: tempvar,
                display: function(response) {
                    //render response into element
                    $(this).html(response);
                }
            });

            $('[id^=courseexaminer]').editable({
                value: 2,
                //source: [{ value: 0, text: 'enhancement' }, { value: 1, text: 'bug' }, { value: 2, text: 'duplicate' }, { value: 3, text: 'invalid' }, { value: 4, text: 'wontfix' }]
                //inputclass: 'some_class'
                source: tempvar,
                display: function(response) {
                    //render response into element
                    $(this).html(response);
                }
            });
            */

            $('[id^=content]').editable({
                title: 'Select Course',
                inputclass: 'some_class'
            });



            $('[id^=subject]').editable({
                value: [2, 3],
                source: [
                    {value: 1, text: 'option1'},
                    {value: 2, text: 'option2'},
                    {value: 3, text: 'option3'}
                ]
            });




            //$(function  () {
                //$("tbody").sortable();
            //});







        	$( ":checkbox" ).on( "click", function() {
        		$( this ).parent().nextAll( "select" ).prop( "disabled", !this.checked );
        	});



            var roomsdata = {{ roomslistjson() }}
            var teacherssdata = {{ teacherslistjson() }}
            var tempdata = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }, { id: 2, text: 'duplicate', selected: true }, { id: 3, text: 'invalid' }, { id: 4, text: 'wontfix', selected: true }];

            $(".js-example-data-array").select2({
                width: '100%'
            });

            $(".js-example-data-array-test").select2({
                data: tempdata,
                width: '100%'
            });

            $(".js-example-data-array-selected").select2({
                width: '100%'
            });

            $(".js-example-tags-teachers").select2({
                data: tempdata,
                width: '100%'
            });

            $(".js-example-tags-rooms").select2({
                data: roomsdata,
                width: '100%'
            });


        });
    </script>


  </body>


</html>
