{% extends "start.html" %}

{% block login %}
<form action="" class="navbar-form navbar-left" method="post">
	<div class="form-group">
		<input type="text" class="form-control" placeholder = "Initials" name="initials" value="{{request.form.initials}}">
	</div>
	<div class="form-group">
		<input type="password" class="form-control" placeholder = "Password" name="password" value="{{request.form.password}}">
	</div>
	<div class="form-group">
		<input class="btn warning btn-default" type="submit" value="Sign in">
	</div>
</form>
{% endblock %}
