<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="utf-8">
<title>Resurshanteringssystem</title>
<meta name="viewport" content="width = device-width, initial-scale = 1">

<link rel="stylesheet" href="static/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<link rel="stylesheet" href="static/bootstrap-editable.css">
<link rel="stylesheet" href="static/select2-bootstrap.css">
<link rel="stylesheet" href="static/gh-pages.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"/>

</head>

<body>
	<div class="container">
		<br>
		<h4>Please Login:</h4>
		<br>
		<form action="" class="form-inline" method="post">
			<input type="text" class="form-control" placeholder = "Username" name="username" value="{{request.form.username}}">
			<input type="password" class="form-control" placeholder = "Password" name="password" value="{{request.form.password}}">
			<input class="btn btn-default" type="submit" value="Login">
		</form>
	</div>
</body>



</html>
