{% extends "start.html" %}

{% block login %}

{%- if request.path == "/register/" %}
<a class="btn btn-default navbar-btn" href="{{ url_for('login_page') }}">Sign in</a>

{% else %}
<form action="" class="navbar-form navbar-right" method="post">
	<div class="form-group">
		<input type="text" class="form-control" placeholder = "Initials" name="initials" value="{{request.form.initials}}">
	</div>
	<div class="form-group">
		<input type="password" class="form-control" placeholder = "Password" name="password" value="{{request.form.password}}">
	</div>
	<div class="form-group">
		<input class="btn warning btn-default" type="submit" value="Sign in">
	</div>
</form>
{% endif %}
{% endblock %}
