{% extends "headertoinclude.html.j2" %}



{% block courses %}
	<div class ="container">
		{% with messages = get_flashed_messages() %}
  			{% if messages %}
  				{% for message in messages %}
  					<div class="alert alert-warning alert-dismissible" role="alert">
  						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  						{{message}}
  					</div>
  				{% endfor %}
  			{% endif %}
  		{% endwith %}


		<div class="jumbotron">


			<h4>My info</h4>

			{% set me = myobject() %}

		    <table class="table table-hover" id="testtable">
		        <tbody id="tbodyid">
		            <tr>
		                <th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">firstname</th>
		                <th class="text-left col-lg-6 col-md-6 col-sm-6 col-xs-6">lastname</th>
		                <th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">akafirstname</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">akalastname</th>
						<th class="text-left col-lg-6 col-md-6 col-sm-6 col-xs-6">email</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">initials</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">password</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">kthid</th>
						<th class="text-left col-lg-6 col-md-6 col-sm-6 col-xs-6">username</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">department</th>
		            </tr>

		            <tr>
		                <td>{{ me.firstname }}</td>
						<td>{{ me.lastname }}</td>
						<td>{{ me.akafirstname }}</td>
						<td>{{ me.akalastname }}</td>
						<td>{{ me.email }}</td>
						<td id="initials" data-pk="me.id" data-url="/user_edit_content/1" data-title="Enter username">{{ me.initials }}</td>
						<td>{{ me.password }}</td>
						<td>{{ me.kthid }}</td>
						<td>{{ me.username }}</td>
						<td>{{ me.department }}</td>
		            </tr>
		        </tbody>
		    </table>





















  		{% with messages = get_flashed_messages() %}
  			{% if messages %}
  				{% for message in messages %}
  					<div class="alert alert-warning alert-dismissible" role="alert">
  						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  						{{message}}
  					</div>
  				{% endfor %}
  			{% endif %}
  		{% endwith %}
        </div>
		<!--{% with messages = get_flashed_messages() %}
  			{% if messages %}
				{% for message in messages %}
	  				<div class="alert alert-warning alert-dismissible" role="alert">
	  					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						{{message}}
	  				</div>
				{% endfor %}
  			{% endif %}
		{% endwith %}-->




	</div>

{% endblock %}
