{% extends "headertoinclude.html.j2" %}



{% block courses %}





			<h2>Mina uppgifter</h2>
	<br />

			{% set me = myobject() %}


		    <table class="table table-hover" id="testtable">
		        <tbody id="tbodyid">
		            <tr>
		                <th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">First name</th>
		                <th class="text-left col-lg-6 col-md-6 col-sm-6 col-xs-6">Last name</th>
						<th class="text-left col-lg-6 col-md-6 col-sm-6 col-xs-6">E-mail</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Initials</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Password</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Kth-id</th>
						<th class="text-left col-lg-6 col-md-6 col-sm-6 col-xs-6">Username</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Department</th>
		            </tr>

		            <tr>
						<td><a href="#" id="meakafirstname" data-pk="{{ me.id }}" data-url="/user_edit_myinfo/akafirstname" data-title="Enter username">{{ me.akafirstname }}</a></td>
						<td><a href="#" id="meakalastname" data-pk="{{ me.id }}" data-url="/user_edit_myinfo/akalastname" data-title="Enter username">{{ me.akalastname }}</a></td>
						<td>{{ me.email }}</td>
						<td><a href="#" id="meinitials" data-pk="{{ me.id }}" data-url="/user_edit_myinfo/initials" data-title="Enter username">{{ me.initials }}</a></td>
						<td>{{ me.password }}</td>
						<td>{{ me.kthid }}</td>
						<td>{{ me.username }}</td>
						<td>{{ me.department }}</td>
		            </tr>
		        </tbody>
		    </table>





















  		{% with messages = get_flashed_messages() %}
  			{% if messages %}
  				{% for message in messages %}
  					<div class="alert alert-warning alert-dismissible" role="alert">
  						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  						{{message}}
  					</div>
  				{% endfor %}
  			{% endif %}
  		{% endwith %}

		<!--{% with messages = get_flashed_messages() %}
  			{% if messages %}
				{% for message in messages %}
	  				<div class="alert alert-warning alert-dismissible" role="alert">
	  					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						{{message}}
	  				</div>
				{% endfor %}
  			{% endif %}
		{% endwith %}-->




	</div>

{% endblock %}
