{% extends "headertoinclude.html.j2" %}



{% block onecourse %}
	<div class ="container">

		<h4>Lokalanvändning</h4>

			<table class="table table-hover sorted_table">
				<tbody>
					<tr>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Lokaltyp</th>
						<th class="text-left col-lg-8 col-md-8 col-sm-8 col-xs-8">Timmar</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Lärare per timme</th>
					</tr>
					{% for item in roomtypesincourse(courseid): %}
					<tr>
						<td>
							<a class="btn btn-success btn-xs" href="{{ url_for('oneteacher_page', teacherid=item.id) }}" role="button">{{ item.roomtype }}</a>
						</td>
						<td>
						{% for subitem in roomtypesuseincourse(courseid, item.id): %}
							<button type="button" class="btn btn-primary btn-xs" style="width:{{ subitem[0] * 10 }}px">&nbsp;</button>
						{% endfor %}
						</td>
						<td class="text-left">

						{% for subitem in roomtypesuseincourse(courseid, item.id): %}
							{{ subitem[0] }}
						{% endfor %}
						</td>
						<td>
						{% for subitem in sumofonesteachingincourseperroomtype(courseid, item.id): %}
							{{ subitem[0] }}
						{% endfor %}

						</td>
					</tr>
					{% endfor %}
					<tr>
						<td></td>
						<td></td>
						<td class="text-left">
						{% for subitem in sumofroomtypesuseincourse(courseid): %}
							{{ subitem[0] }}
						{% endfor %}
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>


			<br />
			<br />
			<br />
			<br />

		<h4>Undervisande lärare</h4>

			<table class="table table-hover sorted_table">
				<tbody>
					<tr>
						<th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1"></th>
						<th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Namn</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>

						<th class="text-left col-lg-67 col-md-6 col-sm-6 col-xs-6">Timmar</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
					</tr>



					{% for item in teachersincourse(courseid): %}
					<tr>
						<td>
							<a class="btn btn-success btn-xs" href="{{ url_for('oneteacher_page', teacherid=item.id) }}" role="button">{{ item.initials }}</a>
						</td>
						<td>{{ item.akafirstname }}
						</td>

						<td>{{ item.akalastname }}
						</td>


						<td>
						{% for subitem in onesteachingincourse(courseid, item.id): %}
							<button type="button" class="btn btn-primary btn-xs" style="width:{{ subitem[0] * 10 }}px">&nbsp;</button>
						{% endfor %}
						</td>
						<td class="text-left">
						{% for subitem in onesteachingincourse(courseid, item.id): %}
							{{ subitem[0] }}
						{% endfor %}
						</td>


					</tr>
					{% endfor %}
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="text-left">
						{% for subitem in sumofonesteachingincourse(courseid): %}
							{{ subitem[0] }}
						{% endfor %}
						</td>
					</tr>
				</tbody>
			</table>


			<br />
			<br />
			<br />
			<br />

			<h4>Schema</h4>
		    <table class="table table-hover sorted_table">
		        <tbody>
		            <tr>
		                <th class="text-left">Datum</th>
		                <th class="text-left">Tid</th>
		                <th class="text-left">Innehåll</th>
		                <th class="text-left">Salar</th>
		                <th class="text-left">Lärare</th>
						<th class="text-left">Edit</th>
		            </tr>
		            {% for item in scheduleInCourse(courseid): %}
		            {% set rowloop = loop %}
		            <tr>
		                {% if item[2] > 9 %}
		                    {% if item[3] > 9 %}
		                    <td class="text-left">{{ item[1] }}-{{ item[2] }}-{{ item[3] }}</td>
		                    {% endif %}
		                    {% if item[3] < 10 %}
		                    <td class="text-left">{{ item[1] }}-{{ item[2] }}-0{{ item[3] }}</td>
		                    {% endif %}
		                {% endif %}
		                {% if item[2] < 10 %}
		                    {% if item[3] > 9 %}
		                    <td class="text-left">{{ item[1] }}-0{{ item[2] }}-{{ item[3] }}</td>
		                    {% endif %}
		                    {% if item[3] < 10 %}
		                    <td class="text-left">{{ item[1] }}-0{{ item[2] }}-0{{ item[3] }}</td>
		                    {% endif %}
		                {% endif %}
		                {% if item[4] > 9 %}
		                <td class="text-left">{{ item[4] }}-{{ item[5] }}</td>
		                {% endif %}
		                {% if item[4] < 10 %}
		                <td class="text-left">0{{ item[4] }}-{{ item[5] }}</td>
		                {% endif %}
						{% if (amiresponsible(idtocode(courseid)) or amiexaminer(idtocode(courseid))) %}
		                <td class="text-left"><a href="#" id="content{{ rowloop.index }}" data-url="/user_edit_content/{{ rowloop.index }}" data-pk="{{ item[7] }}" data-title="Change your fullname">{{ item[6] }}</a></td>
						{% else %}
						<td class="text-left">{{ item[6] }}</td>
						{% endif %}

						<td class="text-left">
		                    {% for subitem in roomsOnDate(item[0], courseid): %}
		                        <button type="button" class="btn btn-success btn-xs">{{ subitem[0] }}</button>
		                    {% endfor %}
		                </td>
		                <td class="text-left">
		                    {% for subitem in defteachersondate(item[0], courseid): %}
		                        <button type="button" class="btn btn-success btn-xs">{{ subitem[2] }}</button>
		                    {% endfor %}
		                </td>
						<td>
							<a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edit-slot-modal" href="#" role="button">Edit</a>
							<!-- <a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal" href="{{ url_for('oneslot_page', slotid=item[7]) }}" role="button">Edit</a> -->
						</td>
		            </tr>
		            {% endfor %}
		        </tbody>
		    </table>



	</div>
{% endblock %}
