{% extends "headertoinclude.html.j2" %}



{% block onecourse %}







	<div class ="container">
		<div class="text-left col-lg-10 col-md-10 col-sm-10 col-xs-10">
		<h2>{{ courseobjectfromid(courseid).code }} {{ courseobjectfromid(courseid).name }}</h2>
		</div>
		<div class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<form action="/deletecourse/{{ courseid }}" method="post">
				<button type="submit" class="btn btn-danger">Delete {{ courseid }}</button>
			</form>

		</div>
		<br />
	</div>
	<div class ="container">



		<h4>Lokalanvändning</h4>

			<table class="table table-hover sorted_table">
				<tbody>
					<tr>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Lokaltyp</th>
						<th class="text-left col-lg-7 col-md-7 col-sm-7 col-xs-7">Timmar</th>
						<th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1"></th>
						<th class="text-left col-lg-4 col-md-4 col-sm-4 col-xs-4">Lärare per timme</th>
					</tr>
					{% for item in roomtypesincourse(courseid): %}
					<tr>
						<td>
							<a class="btn btn-success btn-xs" href="{{ url_for('allrooms_page') }}" role="button">{{ item.roomtype }}</a>
						</td>
						<td>
							<button type="button" class="btn btn-primary btn-xs" style="width:{{ roomtypesuseincourse(courseid, item.id) * 10 }}px">&nbsp;</button>
						</td>
						<td class="text-left">{{ roomtypesuseincourse(courseid, item.id) }}</td>
						<td>
							{{ sumofonesteachingincourseperroomtypeperhour(courseid, item.id) }}
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td></td>
						<td></td>
						<td class="text-left">{{ sumofroomtypesuseincourse(courseid) }}</td>
						<td></td>
					</tr>
				</tbody>
			</table>




		<h4>Undervisande lärare</h4>

			<table class="table table-hover sorted_table">
				<tbody>
					<tr>
						<th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1"></th>
						<th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Namn</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>

						<th class="text-left col-lg-67 col-md-6 col-sm-6 col-xs-6">Timmar</th>
						<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
					</tr>



					{% for item in teachersincourse(courseid): %}
					<tr>
						<td>
							<a class="btn btn-success btn-xs" href="{{ url_for('oneteacher_page', teacherid=item.id) }}" role="button">{{ item.initials }}</a>
						</td>
						<td>{{ item.akafirstname }}
						</td>

						<td>{{ item.akalastname }}
						</td>


						<td>
						{% for subitem in onesteachingincourse(courseid, item.id): %}
							<button type="button" class="btn btn-primary btn-xs" style="width:{{ subitem[0] * 10 }}px">&nbsp;</button>
						{% endfor %}
						</td>
						<td class="text-left">
						{% for subitem in onesteachingincourse(courseid, item.id): %}
							{{ subitem[0] }}
						{% endfor %}
						</td>


					</tr>
					{% endfor %}
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="text-left">
						{% for subitem in sumofonesteachingincourse(courseid): %}
							{{ subitem[0] }}
						{% endfor %}
						</td>
					</tr>
				</tbody>
			</table>





			<h4>Schema</h4>
		    <table class="table table-hover sorted_table" id="exampletable">

				<thead>
		            <tr>
						<th class="details-control"></th>
		                <th class="text-left">Datum</th>
		                <th class="text-left">Tid</th>
		                <th class="text-left">Innehåll</th>
		                <th class="text-left">Salar</th>
		                <th class="text-left">Lärare</th>
						<th class="text-left">Classes.id</th>
						<th class="text-left edit-actions">Edit</th>
						<th class="text-left">Delete</th>
		            </tr>
				</thead>
				<tfoot>
					<tr>
						<th class="details-control"></th>
						<th class="text-left">Datum</th>
						<th class="text-left">Tid</th>
						<th class="text-left">Innehåll</th>
						<th class="text-left">Salar</th>
						<th class="text-left">Lärare</th>
						<th class="text-left">Classes.id</th>
						<th class="text-left edit-actions">Edit</th>
						<th class="text-left">Delete</th>
					</tr>
				</tfoot>
				<tbody>
		            {% for item in scheduleInCourse(courseid): %}
		            {% set rowloop = loop %}
		            <tr>
						<th class="details-control"></th>
		                {% if item[2] > 9 %}
		                    {% if item[3] > 9 %}
		                    <td class="text-left">{{ item[1] }}-{{ item[2] }}-{{ item[3] }}</td>
		                    {% endif %}
		                    {% if item[3] < 10 %}
		                    <td class="text-left">{{ item[1] }}-{{ item[2] }}-0{{ item[3] }}</td>
		                    {% endif %}
		                {% endif %}
		                {% if item[2] < 10 %}
		                    {% if item[3] > 9 %}
		                    <td class="text-left">{{ item[1] }}-0{{ item[2] }}-{{ item[3] }}</td>
		                    {% endif %}
		                    {% if item[3] < 10 %}
		                    <td class="text-left">{{ item[1] }}-0{{ item[2] }}-0{{ item[3] }}</td>
		                    {% endif %}
		                {% endif %}
		                {% if item[4] > 9 %}
		                <td class="text-left">{{ item[4] }}-{{ item[5] }}</td>
		                {% endif %}
		                {% if item[4] < 10 %}
		                <td class="text-left">0{{ item[4] }}-{{ item[5] }}</td>
		                {% endif %}
						{% if (amiresponsible(idtocode(courseid)) or amiexaminer(idtocode(courseid))) %}
		                <td class="text-left"><a href="#" id="content{{ rowloop.index }}" data-url="/user_edit_content/{{ rowloop.index }}" data-pk="{{ item[7] }}" data-title="Change your fullname">{{ item[6] }}</a></td>
						{% else %}
						<td class="text-left">{{ item[6] }}</td>
						{% endif %}

						<td class="text-left">
		                    {% for subitem in slotsrooms(item[7]): %}
		                        <a class="btn btn-success btn-xs" href="{{ url_for('oneroom_page', roomid=subitem[1]) }}" role="button">{{ subitem[0] }}</a>
		                    {% endfor %}
		                </td>
		                <td class="text-left">
		                    {% for subitem in teachersonslot(item[7]): %}
		                        <a class="btn btn-success btn-xs" href="{{ url_for('oneteacher_page', teacherid=subitem[1]) }}" role="button">{{ subitem[4] }}</a>
		                    {% endfor %}
		                </td>
						<td>
							<a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edit-slot-modal" href="#" role="button">{{ item[7] }}</a>
							<!-- <a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal" href="{{ url_for('oneslot_page', slotid=item[7]) }}" role="button">Edit</a> -->
						</td>
						<td class="edit-actions">
							<a href="#" role="button" class="openModalLink btn btn-warning btn-xs" data-id="{{ item[7] }}" data-name="{{ item[6] }}" data-info="{{ item[8] }}" data-content="{{ item[6] }}" data-teachers='{{ teacherslistjson2(item[7])|tojson|safe }}'>Edit</a>
							<!-- <a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal" href="{{ url_for('oneslot_page', slotid=item[7]) }}" role="button">Edit</a> -->
						</td>
						<td>
							<form action="/deleteclass/{{ item[7] }}" method="post">
    						<button type="submit" class="btn btn-danger btn-xs">Delete</button>
							</form>
							<!-- <a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal" href="{{ url_for('oneslot_page', slotid=item[7]) }}" role="button">Edit</a> -->
						</td>
		            </tr>
		            {% endfor %}
		        </tbody>
		    </table>


			<table id="example" class="display" cellspacing="0" width="100%">
			        <thead>
			            <tr>
			                <th></th>
			                <th>Name</th>
			                <th>Position</th>
			                <th>Office</th>
			                <th>Salary</th>
			            </tr>
			        </thead>
			        <tfoot>
			            <tr>
			                <th></th>
			                <th>Name</th>
			                <th>Position</th>
			                <th>Office</th>
			                <th>Salary</th>
			            </tr>
			        </tfoot>
			    </table>


	</div>

{% endblock %}
