{% extends "headertoinclude.html.j2" %}



{% block onecourse %}
	<div class ="container">

		<h4>Kurs</h4>



		    <table class="table table-hover sorted_table">
		        <tbody>
		            <tr>
		                <th class="text-left">Datum</th>
		                <th class="text-left">Tid</th>
		                <th class="text-left">Innehåll</th>
						<th class="text-left">Ämnesområde</th>
		                <th class="text-left">Salar</th>
		                <th class="text-left">Lärare</th>
		            </tr>
		            {% for item in scheduleInCourse(courseid): %}
		            {% set rowloop = loop %}
		            <tr>
		                {% if item[2] > 9 %}
		                    {% if item[3] > 9 %}
		                    <td class="text-left">{{ item[1] }}-{{ item[2] }}-{{ item[3] }}</td>
		                    {% endif %}
		                    {% if item[3] < 10 %}
		                    <td class="text-left">{{ item[1] }}-{{ item[2] }}-0{{ item[3] }}</td>
		                    {% endif %}
		                {% endif %}
		                {% if item[2] < 10 %}
		                    {% if item[3] > 9 %}
		                    <td class="text-left">{{ item[1] }}-0{{ item[2] }}-{{ item[3] }}</td>
		                    {% endif %}
		                    {% if item[3] < 10 %}
		                    <td class="text-left">{{ item[1] }}-0{{ item[2] }}-0{{ item[3] }}</td>
		                    {% endif %}
		                {% endif %}
		                {% if item[4] > 9 %}
		                <td class="text-left">{{ item[4] }}-{{ item[5] }}</td>
		                {% endif %}
		                {% if item[4] < 10 %}
		                <td class="text-left">0{{ item[4] }}-{{ item[5] }}</td>
		                {% endif %}
						{% if (amiresponsible(idtocode(courseid)) or amiexaminer(idtocode(courseid))) %}
		                <td class="text-left"><a href="#" id="content{{ rowloop.index }}" data-url="/user_edit_content/{{ rowloop.index }}" data-pk="{{ item[7] }}" data-title="Change your fullname">{{ item[6] }}</a></td>
						{% else %}
						<td class="text-left">{{ item[6] }}</td>
						{% endif %}
						<td class="text-left">
							<a href="#" id="subject{{ rowloop.index }}" data-type="select" data-pk="{{ item[7] }}" data-url="/user_edit_slot/subject" data-title="Enter username" data-value="{{ item[9] }}">{{ item[9] }}</a>
						</td>
						<td class="text-left">
		                    {% for subitem in roomsOnDate(item[0], courseid): %}
		                        <button type="button" class="btn btn-success btn-xs">{{ subitem[0] }}</button>
		                    {% endfor %}
		                </td>
		                <td class="text-left">
		                    {% for subitem in defteachersondate(item[0], courseid): %}
		                        <button type="button" class="btn btn-success btn-xs">{{ subitem[2] }}</button>
		                    {% endfor %}
		                </td>
		            </tr>
		            {% endfor %}
		        </tbody>
		    </table>



	</div>
{% endblock %}
