{% extends "headertoinclude.html.j2" %}



{% block oneroom %}


<div class ="container">
	<h2>{{ roomobjectfromid(roomid).name }}</h2>
	<br />

	<h4>Användning</h4>

	<table class="table table-hover sorted_table">
		<tbody>
			<tr>
				<th class="text-left text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Kurs</th>
				<th class="text-left text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Datum</th>
				<th class="text-left text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Tid</th>
				<th class="text-left text-left col-lg-5 col-md-5 col-sm-5 col-xs-5">Innehåll</th>
				<th class="text-left text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Salar</th>
				<th class="text-left text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Lärare</th>
			</tr>
			{% for item in roomsslots(roomid) %}
			{% set rowloop = loop %}
			<tr>
				<td><a class="btn btn-primary btn-xs" href="{{ url_for('onecourse_page', courseid={{ item[9] }}) }}" role="button">{{ item[8] }}</a></td>
				{% if item[2] > 9 %}
					{% if item[3] > 9 %}
					<td class="text-left">{{ item[1] }}-{{ item[2] }}-{{ item[3] }}</td>
					{% endif %}
					{% if item[3] < 10 %}
					<td class="text-left">{{ item[1] }}-{{ item[2] }}-0{{ item[3] }}</td>
					{% endif %}
				{% endif %}
				{% if item[2] < 10 %}
					{% if item[3] > 9 %}
					<td class="text-left">{{ item[1] }}-0{{ item[2] }}-{{ item[3] }}</td>
					{% endif %}
					{% if item[3] < 10 %}
					<td class="text-left">{{ item[1] }}-0{{ item[2] }}-0{{ item[3] }}</td>
					{% endif %}
				{% endif %}
				{% if item[4] > 9 %}
				<td class="text-left">{{ item[4] }}-{{ item[5] }}</td>
				{% endif %}
				{% if item[4] < 10 %}
				<td class="text-left">0{{ item[4] }}-{{ item[5] }}</td>
				{% endif %}
				{% if (amiresponsible(item[8]) or amiexaminer(item[8])) %}
				<td class="text-left"><a href="#" id="content{{ rowloop.index }}" data-url="/user_edit_content/{{ rowloop.index }}" data-pk="{{ item[7] }}" data-title="Change your fullname">{{ item[6] }}</td>
				{% else %}
				<td class="text-left">{{ item[6] }}</td>
				{% endif %}
				<td class="text-left">
					{% for subitem in roomsonslot(item[7]): %}
						<button type="button" class="btn btn-success btn-xs">{{ subitem[0] }}</button>
					{% endfor %}
				</td>
				<td class="text-left">
					{% for subitem in teachersonslot(item[7]): %}
						<a class="btn btn-primary btn-xs" href="{{ url_for('oneteacher_page', teacherid={{ subitem[1] }}) }}" role="button">{{ subitem[0] }}</a>
					{% endfor %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
