{% extends "headertoinclude.html.j2" %}



{% block oneteacher %}
	<div class ="container">

		<h2>{{ myobjectfromid(teacherid).akafirstname }} {{ myobjectfromid(teacherid).akalastname }}</h2>

		<h4>Undervisning</h4>
		<table class="table table-hover sorted_table">
			<tbody>
				<tr>
					<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Kurs</th>
					<th class="text-left col-lg-4 col-md-4 col-sm-4 col-xs-4">Namn</th>
					<th class="text-left col-lg-4 col-md-4 col-sm-4 col-xs-4">Timmar</th>
					<th class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
				</tr>
				{% for item in onescoursesteaching(teacherid): %}
				<tr>
					<td>
						<a class="btn btn-success btn-xs" href="{{ url_for('oneteacher_page', teacherid=item.id) }}" role="button">{{ item.code }}</a>
					</td>
					<td>
						<a class="btn btn-success btn-xs" href="{{ url_for('oneteacher_page', teacherid=item.id) }}" role="button">{{ item.name }}</a>
					</td>

					<td>
					{% for subitem in onesteachingincourse(item.id, teacherid): %}
						<button type="button" class="btn btn-primary btn-xs" style="width:{{ subitem[0] * 10 }}px">&nbsp;</button>
					{% endfor %}
					</td>
					<td class="text-left">
					{% for subitem in onesteachingincourse(item.id, teacherid): %}
						{{ subitem[0] }}
					{% endfor %}
					</td>


				</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>




	</div>
{% endblock %}
