{% extends "headertoinclude.html.j2" %}



{% block oneteacher %}
	<div class ="container">

		<h4>{{ myobjectfromid(teacherid).akafirstname }} {{ myobjectfromid(teacherid).akalastname }}</h4>



	</div>
{% endblock %}
