{% extends "headertoinclude.html.j2" %}



{% block oneteacher %}


<div class ="container">

	<h4>Kurser</h4>

	<table class="table table-hover col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<tbody>
			<tr>
				<th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Kurskod</th>
				<th class="text-left col-lg-5 col-md-5 col-sm-5 col-xs-5">Namn</th>
				<th class="text-left col-lg-3 col-md-3 col-sm-3 col-xs-3">Examinator</th>
				<th class="text-left col-lg-3 col-md-3 col-sm-3 col-xs-3">Kursansvarig</th>
			</tr>
			{% for item in onescoursesexaminerorresponsible(teacherid) %}
				<tr>
					<td><a href="{{ url_for('onecourse_page', courseid=item.id) }}">{{ item.code }}</a></td>
					<td>{{ item.name }}</td>
					<td>{{ item.examiner.email }}</a></td>
					{% if amiexaminer(item.code) %}
					<td><a href="#" id="courseresponsibe{{ item.id }}" data-type="select" data-pk="{{ item.id }}" data-url="/user_edit_course/responsible" data-title="Enter username" data-value="{{ item.responsible.email }}">{{ item.responsible.email }}</a></td>
					{% else %}
					<td>{{ item.responsible.email }}</a></td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>


<br />
<br />
<br />

	<div class ="container">

		<h2>{{ myobjectfromid(teacherid).akafirstname }} {{ myobjectfromid(teacherid).akalastname }}</h2>
		<br />
		<h4>Undervisning</h4>
		<table class="table table-hover sorted_table">
			<tbody>
				<tr>
					<th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Kurs</th>
					<th class="text-left col-lg-5 col-md-5 col-sm-5 col-xs-5">Namn</th>
					<th class="text-left col-lg-5 col-md-5 col-sm-5 col-xs-5">Timmar</th>
					<th class="text-left col-lg-1 col-md-1 col-sm-1 col-xs-1"></th>
				</tr>
				{% for item in onescoursesteaching(teacherid): %}
				<tr>
					<td>
						<a class="btn btn-success btn-xs" href="{{ url_for('oneteacher_page', teacherid=item.id) }}" role="button">{{ item.code }}</a>
					</td>
					<td class="text-left">{{ item.name }}</td>

					<td>
					{% for subitem in onesteachingincourse(item.id, teacherid): %}
						<button type="button" class="btn btn-primary btn-xs" style="width:{{ subitem[0] * 7 }}px">&nbsp;</button>
					{% endfor %}
					</td>
					<td class="text-left">
					{% for subitem in onesteachingincourse(item.id, teacherid): %}
						{{ subitem[0] }}
					{% endfor %}
					</td>


				</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>




	</div>





		<div class ="container">
	<br />
			<h4>Tillfällen</h4>



			    <table class="table table-hover sorted_table">
			        <tbody>
			            <tr>
							<th class="text-left text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Kurs</th>
			                <th class="text-left text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Datum</th>
			                <th class="text-left text-left col-lg-1 col-md-1 col-sm-1 col-xs-1">Tid</th>
			                <th class="text-left text-left col-lg-5 col-md-5 col-sm-5 col-xs-5">Innehåll</th>
			                <th class="text-left text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Salar</th>
			                <th class="text-left text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">Lärare</th>
			            </tr>
			            {% for item in onesslots(teacherid): %}
			            {% set rowloop = loop %}
			            <tr>
							<td class="text-left">{{ item[8] }}</td>
			                {% if item[2] > 9 %}
			                    {% if item[3] > 9 %}
			                    <td class="text-left">{{ item[1] }}-{{ item[2] }}-{{ item[3] }}</td>
			                    {% endif %}
			                    {% if item[3] < 10 %}
			                    <td class="text-left">{{ item[1] }}-{{ item[2] }}-0{{ item[3] }}</td>
			                    {% endif %}
			                {% endif %}
			                {% if item[2] < 10 %}
			                    {% if item[3] > 9 %}
			                    <td class="text-left">{{ item[1] }}-0{{ item[2] }}-{{ item[3] }}</td>
			                    {% endif %}
			                    {% if item[3] < 10 %}
			                    <td class="text-left">{{ item[1] }}-0{{ item[2] }}-0{{ item[3] }}</td>
			                    {% endif %}
			                {% endif %}
			                {% if item[4] > 9 %}
			                <td class="text-left">{{ item[4] }}-{{ item[5] }}</td>
			                {% endif %}
			                {% if item[4] < 10 %}
			                <td class="text-left">0{{ item[4] }}-{{ item[5] }}</td>
			                {% endif %}
							{% if (amiresponsible(item[8]) or amiexaminer(item[8])) %}
			                <td class="text-left"><a href="#" id="content{{ rowloop.index }}" data-url="/user_edit_content/{{ rowloop.index }}" data-pk="{{ item[7] }}" data-title="Change your fullname">{{ item[6] }}</td>
							{% else %}
							<td class="text-left">{{ item[6] }}</td>
							{% endif %}
							<td class="text-left">
			                    {% for subitem in roomsonslot(item[7]): %}
			                        <button type="button" class="btn btn-success btn-xs">{{ subitem[0] }}</button>
			                    {% endfor %}
			                </td>
			                <td class="text-left">
			                    {% for subitem in teachersonslot(item[7]): %}
			                        <button type="button" class="btn btn-success btn-xs">{{ subitem[0] }}</button>
			                    {% endfor %}
			                </td>
			            </tr>
			            {% endfor %}
			        </tbody>
			    </table>



		</div>


{% endblock %}
