{% extends "headertoinclude.html.j2" %}



{% block rooms %}
	<div class ="container">


		<div class="jumbotron">


			<h4>Salar</h4>
			<h4>
				{% for itemdate in AllDates(page): %}

					{{ itemdate.date }}</td>

				{% endfor %}
			</h4>

			<nav aria-label="...">
  <ul class="pager">
    <li><a href="{{ url_for('rooms_page', page=page-1) }}">Previous</a></li>
    <li><a href="{{ url_for('rooms_page', page=page+1) }}">Next</a></li>
  </ul>
</nav>
		    <table class="table table-hover" id="testtable">
		        <tbody>
		            <tr>
		                <th class="text-left">Tid</th>
		                <th class="text-left">Hörsal typ A+</th>
		                <th class="text-left">Hörsal typ A</th>
						<th class="text-left">Hörsal typ B</th>
						<th class="text-left">Övningssal typ A</th>
						<th class="text-left">Övningssal typ B</th>
						<th class="text-left">Datorsal</th>
		            </tr>
		            {% for itemdate in AllDates(page): %}
			            <tr>
			                <td>Kl.8</td>
			                <td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 1: %}
										<button type="button" class="btn btn-default">{{ item[0] }}</button>
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 2: %}
										<button type="button" class="btn btn-default">{{ item[0] }}</button>
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 3: %}
										<button type="button" class="btn btn-default">{{ item[0] }}</button>
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 4: %}
										<button type="button" class="btn btn-default">{{ item[0] }}</button>
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 5: %}
										<button type="button" class="btn btn-default">{{ item[0] }}</button>
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 6: %}
										<button type="button" class="btn btn-default">{{ item[0] }}</button>
									{% endif %}
								{% endfor %}
							</td>
			            </tr>
						<tr>
							<td>Kl.9</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 9 and item[2] >= 10 and item[4] == 1: %}
										<button type="button" class="btn btn-default">{{ item[0] }}</button>
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 9 and item[2] >= 10 and item[4] == 2: %}
										<button type="button" class="btn btn-default">{{ item[0] }}</button>
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 9 and item[2] >= 10 and item[4] == 3: %}
										<button type="button" class="btn btn-default">{{ item[0] }}</button>
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 9 and item[2] >= 10 and item[4] == 4: %}
										<button type="button" class="btn btn-default">{{ item[0] }}</button>
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 9 and item[2] >= 10 and item[4] == 5: %}
										<button type="button" class="btn btn-default">{{ item[0] }}</button>
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 6: %}
										<button type="button" class="btn btn-default">{{ item[0] }}</button>
									{% endif %}
								{% endfor %}
							</td>
						</tr>

						<tr>
							<td>Kl.10</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 10 and item[2] >= 11 and item[4] == 1: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 10 and item[2] >= 11 and item[4] == 2: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 10 and item[2] >= 11 and item[4] == 3: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 10 and item[2] >= 11 and item[4] == 4: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 10 and item[2] >= 11 and item[4] == 5: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 6: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
						</tr>

						<tr>
							<td>Kl.11</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 11 and item[2] >= 12 and item[4] == 1: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 11 and item[2] >= 12 and item[4] == 2: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 11 and item[2] >= 12 and item[4] == 3: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 11 and item[2] >= 12 and item[4] == 4: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 11 and item[2] >= 12 and item[4] == 5: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 6: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
						</tr>

						<tr>
							<td>Kl.12</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 12 and item[2] >= 13 and item[4] == 1: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 12 and item[2] >= 13 and item[4] == 2: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 12 and item[2] >= 13 and item[4] == 3: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 12 and item[2] >= 13 and item[4] == 4: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 12 and item[2] >= 13 and item[4] == 5: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 6: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
						</tr>

						<tr>
							<td>Kl.13</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 13 and item[2] >= 14 and item[4] == 1: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 13 and item[2] >= 14 and item[4] == 2: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 13 and item[2] >= 14 and item[4] == 3: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 13 and item[2] >= 14 and item[4] == 4: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 13 and item[2] >= 14 and item[4] == 5: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 6: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
						</tr>

						<tr>
							<td>Kl.14</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 14 and item[2] >= 15 and item[4] == 1: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 14 and item[2] >= 15 and item[4] == 2: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 14 and item[2] >= 15 and item[4] == 3: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 14 and item[2] >= 15 and item[4] == 4: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 14 and item[2] >= 15 and item[4] == 5: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 6: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
						</tr>

						<tr>
							<td>Kl.15</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 15 and item[2] >= 16 and item[4] == 1: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 15 and item[2] >= 16 and item[4] == 2: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 15 and item[2] >= 16 and item[4] == 3: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 15 and item[2] >= 16 and item[4] == 4: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 15 and item[2] >= 16 and item[4] == 5: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 6: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
						</tr>

						<tr>
							<td>Kl.16</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 16 and item[2] >= 17 and item[4] == 1: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 16 and item[2] >= 17 and item[4] == 2: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 16 and item[2] >= 17 and item[4] == 3: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 16 and item[2] >= 17 and item[4] == 4: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 16 and item[2] >= 17 and item[4] == 5: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for item in roomsPerDate(itemdate.date): %}
									{% if item[1] <= 8 and item[2] >= 9 and item[4] == 6: %}
										{{ item[0] }}
									{% endif %}
								{% endfor %}
							</td>
						</tr>
		            {% endfor %}
		        </tbody>
		    </table>




















  		{% with messages = get_flashed_messages() %}
  			{% if messages %}
  				{% for message in messages %}
  					<div class="alert alert-warning alert-dismissible" role="alert">
  						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  						{{message}}
  					</div>
  				{% endfor %}
  			{% endif %}
  		{% endwith %}
        </div>
		<!--{% with messages = get_flashed_messages() %}
  			{% if messages %}
				{% for message in messages %}
	  				<div class="alert alert-warning alert-dismissible" role="alert">
	  					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						{{message}}
	  				</div>
				{% endfor %}
  			{% endif %}
		{% endwith %}-->




	</div>

{% endblock %}
