{% extends "headertoinclude.html.j2" %}



{% block teachers %}
	<div class ="container">
		<div class="jumbotron">
			<h4>Lärare</h4>
			<h4>
				{% for itemdate in AllDates(page): %}
					{{ itemdate.date }}
					{% for item in coursesPerDate(itemdate.date): %}
						{{ item[0] }}
					{% endfor %}
					{% for item in coursesPerDate(itemdate.date): %}
						{{ item[3] }}
					{% endfor %}
				{% endfor %}
			</h4>
			<nav aria-label="...">
			  <ul class="pager">
			    <li><a href="{{ url_for('rooms_page', page=page-1) }}">Previous</a></li>
			    <li><a href="{{ url_for('rooms_page', page=page+1) }}">Next</a></li>
			  </ul>
		  	</nav>
        </div>
	</div>
{% endblock %}
